<!-- <div class="container  pt-5">
    <h4>Device Information:</h4>
    <mat-card style="background-color: rgb(222, 221, 221);">
      <mat-card-content>
        <div class="row align-items-center">
          <div class="col-lg-2">
            <h3>Device Name:</h3>
          </div>
          <div class="col-lg-2">
            <mat-form-field >
              <mat-label>Device Name</mat-label>
              <mat-select>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-2">
            <h3>Version:</h3>
          </div>
          <div class="col-lg-2">
            <mat-form-field appearance="fill">
              <mat-label>V1.452</mat-label>
              <input matInput [disabled]="true" placeholder="Disabled Input">
            </mat-form-field>
          </div>
          <div class="col-lg-2">
            <h3>Device Mac:</h3>
          </div>
          <div class="col-lg-2">
            <mat-form-field appearance="fill">
              <mat-label>29.23.13.1313</mat-label>
              <input matInput [disabled]="true" placeholder="Disabled Input">
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  

  <div class="container  pt-3">
    <h4>Network Settings</h4>
    <mat-card style="background-color: rgb(222, 221, 221);">
      <mat-card-content>
        <div class="row align-items-center">
          <div class="col-lg-2 col-md-2 col-sm-2">
            <h3>Device IP:</h3>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            <mat-form-field >
              <mat-label>Device IP</mat-label>
              <mat-select>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            <h3>Device Port:</h3>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            <mat-form-field appearance="fill">
              <mat-label>1452</mat-label>
              <input matInput  placeholder="1231">
            </mat-form-field>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            <h3>Device Port:</h3>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            <mat-form-field appearance="fill">
              <mat-label>29</mat-label>
              <input matInput placeholder="32">
            </mat-form-field>
          </div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-2 col-md-2 col-sm-2">
              <h3>Device IP:</h3>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <mat-form-field >
                <mat-label>Device IP</mat-label>
                <mat-select>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <h3>Device Port:</h3>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <mat-form-field appearance="fill">
                <mat-label>1452</mat-label>
                <input matInput  placeholder="1231">
              </mat-form-field>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <h3>Device Port:</h3>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <mat-form-field appearance="fill">
                <mat-label>29</mat-label>
                <input matInput placeholder="32">
              </mat-form-field>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-lg-2 col-md-2 col-sm-2">
              <h3>Destination IP CNS:</h3>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <mat-form-field >
                <mat-label>1452</mat-label>
                <input matInput  placeholder="1231">
              </mat-form-field>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <h3>Destination Port:</h3>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <mat-form-field appearance="fill">
                <mat-label>1452</mat-label>
                <input matInput  placeholder="1231">
              </mat-form-field>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <h3>IP Mode:</h3>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <mat-form-field appearance="fill">
                <mat-label>Device IP</mat-label>
              <mat-select>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
              </mat-select>
              </mat-form-field>
            </div>
          </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="container  pt-3">
    <h4>Serial Settings</h4>
    <mat-card style="background-color: rgb(222, 221, 221);">
      <mat-card-content>
        <div class="row align-items-center">
          <div class="col-lg-2 col-md-2 col-sm-2">
            <h3>BaudreRate:</h3>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            <mat-form-field >
              <mat-label>Device IP</mat-label>
              <mat-select>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            <h3>Device Port:</h3>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            <mat-form-field appearance="fill">
              <mat-label>1452</mat-label>
              <input matInput  placeholder="1231">
            </mat-form-field>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            <h3>Device Port:</h3>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2">
            <mat-form-field appearance="fill">
              <mat-label>29</mat-label>
              <input matInput placeholder="32">
            </mat-form-field>
          </div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-2 col-md-2 col-sm-2">
              <h3>Device IP:</h3>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <mat-form-field >
                <mat-label>Device IP</mat-label>
                <mat-select>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <h3>Device Port:</h3>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <mat-form-field appearance="fill">
                <mat-label>1452</mat-label>
                <input matInput  placeholder="1231">
              </mat-form-field>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <h3>Device Port:</h3>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <mat-form-field appearance="fill">
                <mat-label>29</mat-label>
                <input matInput placeholder="32">
              </mat-form-field>
            </div>
          </div>
      </mat-card-content>
    </mat-card>
  </div> -->

<!-- 
  <div class="col-lg-3 pt-5">
   <mat-card>
    <mat-card-content>
      <mat-list>
        <mat-list-item>Internet Protocol Settings</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>PIN Management</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>MAC Address Filter</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Wi-Fi Configuration</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>WPS</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Firmware Update</mat-list-item>
      </mat-list>
    </mat-card-content>
   </mat-card>
  </div> -->

  

  <app-navbar></app-navbar>
 <router-outlet></router-outlet>
 <app-sidebar></app-sidebar>

